@page
@model IndexModel
@{
    ViewData["Title"] = "Hindustan";
}

<div class="text-center">
    <h1 class="display-4">Welocme to Microsoft Azure Training</h1>
    <h1>Hindustan Innovation Development Center</h1>
    <h2>Az-204 Microsoft Azure Software Acrhitect Associate</h2>
    <p>Developing Solution for Microsoft Azure</p>
    <p>For more details, visit www.hindustancorporate.com</p>


    <h2>Version 1</h2>
</div>
